<section class="form-group{% if error %} error{% endif %}">
    {% if label %}
        <label for="{{ id }}">{{ label }}</label>
    {% endif %}

    <textarea rows="{{ rows }}" id="{{ id }}" class="form-control {{ css }}" name="{{ name }}" {% if required %} required{% endif %}>{{ value }}</textarea>

    {% if error %}
        <em for="{{ name }}" class="invalid">{{ error }}</em>
    {% endif %}
</section>