<section class="form-group{% if error %} error{% endif %}">
    {% if label %}
        <label for="{{ id }}">{{ label }}</label>
    {% endif %}

    <div class="controls">
        <input id="{{ id }}" type="{{ type }}" class="phone form-control {{ css }}" name="{{ name }}" value="{{ value }}"{% if pattern %}  pattern="{{ pattern }}"{% endif %}{% if required %} required{% endif %}>

        {% if error %}
            <em for="{{ name }}" class="invalid">{{ error }}</em>
        {% endif %}
    </div>
</section>